/*                    */
/*Html Tags*/
/*                    */

body {
    background-color: #111114;
    color: white;
    font-family: "Montserrat";
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: #0A0A0A;
    outline: solid 1px #3B3B3B;
    justify-content: space-between;
    padding: 0px 5vw;

}

nav {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
}

a {
    color: white;
    text-decoration: unset;
}

button {
    background: none;
    color: white;
    border: none;
}

/*                    */
/*Html Tags*/
/*                    */

/*                    */
/*Smooth scrolling*/
/*                    */

.scroll {
    scroll-behavior: smooth;
}

/*                    */
/*Smooth scrolling*/
/*                    */

/*                    */
/*Header work*/
/*                    */

.links-header {
    display: flex;
    gap: 3vw;
    margin-left: 2vw;
}

/*                    */
/*Header work*/
/*                    */

/*                    */
/*Landing page design*/
/*                    */

.introduction-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 6vw;
    height: 80vh;
}

.introduction-container1 {
    display: flex;
    align-items: center;
    position: inherit;
    bottom: 10px;
}

.landing-page {
    display: flex;
    justify-content: center;
}

.landing-page h2 {
    margin: 0px;
}

.introductie-naam {
    display: flex;
    font-size: 7vh;
    font-weight: 500;
    margin: 0px;
}

.blue-star {
    width: 35px;
}

.hello-im {
    font-size: 15px;
    font-weight: 400;
    color: #51a0e0;
}

.introductie-about-me {
    font-size: 25px;
}

.view-my-work {
    background: linear-gradient(80deg, rgba(92, 141, 255, 1) 0%, rgba(145, 10, 255, 1) 50%, rgba(187, 0, 255, 1) 100%);
    padding: 20px 30px;
    border-radius: 10px;
}

.get-in-touch {
    border: solid 1px #3B3B3B;
    padding: 19px 29px;
    border-radius: 10px;
}

.landing-page-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*                    */
/*Landing page design*/
/*                    */

/*                    */
/*About me page design*/
/*                    */

.about-me-page-container {
    display: flex;
    justify-content: center;
    margin: 0px 20vw;
    align-items: center;
    height: 80vh;
}

.about-me-title {
    font-size: 60px;
    font-weight: 500;
    color: #51a0e0;
}

.about-me-paragraph {
    font-size: 17px;
}

.about-me-blocks {
    display: flex;
    justify-content: space-between;
}

.block-image {
    width: 30px;
}

.block {
    display: flex;
    width: 11.5vw;
    padding: 15px 15px;
    border: solid 1px #3B3B3B;
    flex-direction: column;
    border-radius: 15px;
}

.blocks {
    display: flex;
    gap: 1.5vw;
}

.block h1 {
    font-size: 15px;
    font-weight: 300;
    margin: 7px 0px;
}

.block p {
    font: 25px;
    margin: 5px 0px;
}

/*                    */
/*About me page design*/
/*                    */



/*                    */
/*Selected work design*/
/*                    */
.selected-work-title {
    font-size: 60px;
    font-weight: 500;
    color: #51a0e0;
}

.selected-work-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 150vh;
    align-items: center;
}

.selected-work-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.skills-tab {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    display: flex;
    width: 80vw;
}

.skills-block {
    border: 1px solid #3B3B3B;
    background-color: #1A1A1A;
    width: 50vw;
    padding: 1vw;
    border-radius: 15px;
}

.skills {
    display: flex;
    gap: 1vw;
}

.skills-images {
    width: 35px;
}

.skills-subtitles {
    font-size: 20px;
    font-weight: 500;
}

.experience-content {
    display: flex;
    background-color: #1A1A1A;
    border: 1px solid #3B3B3B;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
}

.project-content {
    display: flex;
    background-color: #1A1A1A;
    border: 1px solid #3B3B3B;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.experience-content-margin {
    margin: 5px 0px;
}

.title-experience {
    font-size: 20px;
    font-weight: 600;
}

.paragraph-experience {
    color: #B3B3B3;
}

.technovium {
    color: #51a0e0;
    font-weight: 500;
}

.project-images {
    width: 150px;
    margin-right: 2vw;
}

/* Style the tab */
.tab {
    display: flex;
    overflow: hidden;
    border: 1px solid #3B3B3B;
    background-color: #1A1A1A;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 10px;
}

.tablinks {
    color: #B3B3B3;
    font-weight: 500;
    font-size: 15px;
    width: 50vw;
    margin: 7px;
    border-radius: 15px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 15px 1vw;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #242424;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background: linear-gradient(80deg, rgba(92, 141, 255, 1) 0%, rgba(145, 10, 255, 1) 50%, rgba(187, 0, 255, 1) 100%);
}

/*                    */
/*Selected work design*/
/*                    */

/*                    */
/*Contact design*/
/*                    */

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.contact-title {
    font-size: 60px;
    font-weight: 500;
    color: #51a0e0;
}

.contact-paragraph {
    font-size: 20px;
}

.contact-title-container {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.contact-email-container {
    display: flex;
    align-items: center;
    outline: solid 1px #3B3B3B;
    background-color: #1A1A1A;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70vw;
    gap: 10px;
}

.contact-email-container h1 {
    font-size: 20px;
    font-weight: 400;
}

.contact-images {
    width: 25px;
    height: 25px;
}

.contact-apps {
    font-size: 15px;
    font-weight: 400;
}

.contact-links {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1A1A1A;
    width: 20vw;
    padding: 10px;
    outline: solid 1px #3B3B3B;
    border-radius: 15px;
}

.contact-links-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

/*                    */
/*Contact design*/
/*                    */

/*                    */
/*Media Queries*/
/*                    */

@media screen and (max-width: 600px) {
    .about-me-page-container {
        margin: 0px 6vw;
    }

    .block {
        width: 35vw;
    }

    .blocks {
        flex-direction: column;
    }

    .skills-tab {
        flex-direction: column;
        gap: 10px;
    }

    .skills-block {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}

/*                    */
/*Media Queries*/
/*                    */